
{% extends 'partials/base.html' %}
{% load static %}
{% block head_title%}
<title>{{heading}} | TelMed</title>
{% endblock %}

{% block extra_css %}
{% endblock extra_css %}

{% block content %}
<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Password Change</h2>
            
        </div>
        
    </div>

    <div class="card mb-4">
      
      <!-- card-header end// -->
      <div class="card-body">

        <div class="authentication-wrapper authentication-basic container-p-y">
          <div class="authentication-inner py-4">
            <!-- Forgot Password -->
            <div class="">
              <div class="card-body">
                <!-- Logo -->
                <div class="app-brand justify-content-center">
                  
                </div>
                <!-- /Logo -->
                <h4 class="mb-2">Did you Change your Password? 🔒</h4>
                <p class="mb-4">Enter your password</p>
                <form id="formAuthentication" class="mb-3" action="{% url 'change_password' %}" method="POST">
                  {% csrf_token %}
                  <div class="mb-3">
                    <label for="email" class="form-label">New Password</label>
                    <input
                      type="text"
                      class="form-control"
                      id="password"
                      name="password"
                      placeholder="Enter New Password"
                      autofocus required autocomplete="off" />
                  </div>
                  <div class="mb-3">
                    <label for="email" class="form-label">Confirm Password</label>
                    <input
                      type="text"
                      class="form-control"
                      id="cpassword"
                      name="cpassword"
                      placeholder="Confirm Password"
                      autofocus required autocomplete="off" />
                  </div>
                  <button class="btn btn-primary d-grid w-100">Change Password</button>
                </form>
                <div class="text-center">
                  <a href="{% url 'dashboard' %}" class="d-flex align-items-center justify-content-center">
                    <i class="bx bx-chevron-left scaleX-n1-rtl bx-sm"></i>
                    Back to Home
                  </a>
                </div>
              </div>
            </div>
            <!-- /Forgot Password -->
          </div>
        </div>
          
      </div>
      <!-- card-body end// -->
  </div>
  
    
    
</section>


{% endblock %}

{% block extra_javascript %}

{% endblock extra_javascript %}